version: "3.8"

services:
  app:
    build: .
    container_name: student-app
    ports:
      - "3100:3000"
    volumes:
      - .:/usr/src/app
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - student-net
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  mongo:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - student-net
    restart: always
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  mongo-data:

networks:
  student-net:
