apiVersion: v1
kind: Namespace
metadata:
  name: student-app
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: student-app
data:
  MONGO_URL: "mongodb://mongo:27017/studentdb"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  namespace: student-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
        - name: student-app
          image: <dockerhub-username>/student-app:latest   # <<< Docker Hub image
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: MONGO_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: MONGO_URL
---
apiVersion: v1
kind: Service
metadata:
  name: student-app-service
  namespace: student-app
spec:
  type: LoadBalancer
  ports:
    - port: 3100
      targetPort: 3000
  selector:
    app: student-app
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo
  namespace: student-app
spec:
  serviceName: "mongo"
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:latest
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-pv
              mountPath: /data/db
          readinessProbe:
            exec:
              command: ["mongosh", "--eval", "db.adminCommand('ping')"]
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: student-app
spec:
  type: ClusterIP
  ports:
    - port: 27017
  selector:
    app: mongo
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pv
  namespace: student-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
